<script src="https://kit.fontawesome.com/d93bc0fd13.js"
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
<script
  src="https://cdn.glitch.com/d62580d1-04a7-4eb1-9a98-30c4d9a7fd50%2Fk.js?v=1580346144445"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.3/dist/confetti.browser.min.js"></script>
<script src="https://cdn.glitch.com/d62580d1-04a7-4eb1-9a98-30c4d9a7fd50%2Fc.js?v=1580346501860"></script>
<script src="https://cdn.glitch.com/d62580d1-04a7-4eb1-9a98-30c4d9a7fd50%2Fhyperdrive.js?v=1579716733810"></script>
<script src="/public/client.js"></script>
