<!-- Admiral Tier -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Admiral Class
    </h5>
    <h6 class="card-price text-center">
      <i class="fab fa-btc"></i> 100,000
    </h6>
    <hr />
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i
            class="fas fa-space-shuttle"></i></span>Shuttle-class
        x701 space coach
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-couch"></i></span>Spacious
        Zero-Grav seating
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-utensils"></i></span>Complimentary Michelin star meals and service
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-suitcase"></i></span>2
        carry-on bags allowed
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-wifi"></i></span>Unlimited
        wifi
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-user-astronaut"></i></span>Personal concierge
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-meteor"></i></span>Window seat to the stars
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-atom"></i></span>Private room at the ISS
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-cat"></i></span>Your pet travels for free
      </li>
      <li>
        <span class="fa-li"><i class="fab fa-grav"></i></span>Space walk experience
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <a id="tier3" href="#"
      class="btn btn-block btn-primary">Select class</a>
  </div>
</div>